@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #344054;
  --text-secondary: #667085;
  --text-brand: #175cd3;
  --text-dark: #101828;
  --text-darkblue: #0856cd;
  --text-placeholder: #667085;
  --text-success: #027948;
  --text-pending: #b54708;
  --text-failed: #f04438;
  --text-danger: #b32318;
  --text-white: #ffffff;

  --bg-primary: #175cd3;
  --bg-primary-hover: #1849a9;
  --bg-hover: #f3f4f6;
  --bg-error: #fda29b;
  --bg-darkblue: #175cd3;
  --bg-lightblue: #095fe3;
  --bg-primary-faded: #eff8ff;
  --bg-lightcyan: #e0eaff;
  --bg-red: #f04438;
  --bg-fadedred: #fef3f2;
  --bg-success: #ecfdf3;
  --bg-green: #12b76a;
  --bg-lightgreen: #ecfdf3;
  --bg-pending: #f79009;
  --bg-fadeyellow: #fffaeb;
  --bg-darkgray: #d0d5dd;
  --bg-grey: #f9fafb;

  --border-primary: #d0d5dd;
  --border-secondary: #175cd3;
  --border-fadedblue: #84caff;
  --border-blue: #a4bcfd;
  --border-fadedred: #fef3f2;
  --border-danger: #f04438;
  --border-success: #027948;
  --border-pending: #f79009;
  --border-failed: #f04438;

  --bg-main: #ffffff;
  --text-main: #000000;
  --text-dark: #101828;
  --text-secondary: #344054;
  --bg-secondary: #f8f9fa;
}

.dark-mode {
  --bg-main: #0c0e12;
  --text-main: #e0e0e0;
  --text-dark: #f9fafb;
  --text-secondary: #d0d5dd;
  --bg-secondary: #1e1e1e;
  --bg-hover: #13161b;
  --bg-grey: #0e131a;
  --border-primary: #1d2939;
}

body {
  background-color: var(--bg-main) !important;
  color: var(--text-main) !important;

  /* transition: background-color 0.4s ease, color 0.4s ease; */
}

* {
  padding: 0px;
  margin: 0px;
}

.inter-unique {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

details[open] summary::before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  cursor: auto;
}

details summary {
  list-style: none;
}

/* Custom scrollbar for webkit-based browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 40px;
  border-radius: 10px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--border-primary);
  border-radius: 10px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--border-primary) transparent;
}

/* Hide scrollbar on webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Outlet width */
.calcc-widthhh {
  width: 100%;
}

.sidebaar-showww {
  display: none;
}

.dash-width-1 {
  width: 320px;
}

@media screen and (min-width: 1360px) {
  .dash-width-1 {
    width: 340px;
  }
}

@media screen and (min-width: 1560px) {
  .dash-width-1 {
    width: 360px;
  }
}

@media screen and (min-width: 1670px) {
  .dash-width-1 {
    width: 400px;
  }
}

@media screen and (min-width: 1800px) {
  .dash-width-1 {
    width: 420px;
  }
}

@media screen and (min-width: 1024px) {
  .calcc-widthhh {
    width: calc(100vw - 322px);
  }

  .sidebaar-showww {
    display: block;
  }
}

.dash-layout-1 {
  justify-content: space-between;
}

@media screen and (max-width: 743px) {
  .dash-layout-1 {
    justify-content: center;
  }
}

@media screen and (min-width: 1024) and (max-width: 1065px) {
  .dash-layout-1 {
    justify-content: center;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
* {
  padding: 0px;
  margin: 0px;
}

.inter-unique {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

details[open] summary::before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  cursor: auto;
}

details summary {
  list-style: none;
}

.responsiveee {
  flex-direction: row;
}

@media screen and (max-width: 1609px) {
  .responsiveee {
    flex-direction: column;
  }
}

/* For Chrome, Safari, Edge, and other WebKit browsers */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

details:not([open]) .icon-open {
  display: none;
}
details[open] .icon-closed {
  display: none;
}
details[open] .icon-open {
  display: inline;
}

@media screen and (max-width: 419px) {
  .responsive-paginationnn {
    flex-wrap: wrap;
  }
  .responsive-paginationnn1 {
    order: 2;
    margin-top: 10px;
  }
  .responsive-paginationnn2 {
    order: 1;
    width: 315px;
  }
  .responsive-paginationnn3 {
    order: 3;
    margin-top: 10px;
  }
}

/* Success Toast */
.Toastify__toast--success {
  border: 1px solid #12b76a;
  background-color: var(--bg-main);
  color: var(--text-dark);
}

/* Error Toast */
.Toastify__toast--error {
  border: 1px solid #f04438;
  background-color: var(--bg-main);
  color: var(--text-dark);
}

/* Warning Toast */
.Toastify__toast--warning {
  border: 1px solid #f79009;
  background-color: var(--bg-main);
  color: var(--text-dark);
}

/* Info Toast */
.Toastify__toast--info {
  border: 1px solid #175cd3;
  background-color: var(--bg-main);
  color: var(--text-dark);
}

/* Close Button Color */
.Toastify__close-button {
  color: inherit; /* Matches the toast's text color */
}

/* ... existing styles ... */

/* Calendar styling */
.react-datepicker {
  font-family: 'Inter', sans-serif !important;
  border: 1px solid #d0d5dd !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
  background-color: white !important;
}

.react-datepicker__header {
  background-color: white !important;
  border-bottom: 1px solid #f2f4f7 !important;
  padding-top: 16px !important;
}

.react-datepicker__current-month {
  font-weight: 600 !important;
  color: #101828 !important; /* dark */
  margin-bottom: 8px !important;
}

.react-datepicker__day-name {
  color: #667085 !important; /* secondary */
  font-weight: 500 !important;
  width: 2rem !important;
  margin: 0.2rem !important;
}

.react-datepicker__day {
  color: #344054 !important; /* primary */
  border-radius: 6px !important;
  width: 2rem !important;
  line-height: 2rem !important;
  margin: 0.2rem !important;
}

.react-datepicker__day:hover {
  background-color: #175cd3 !important; /* fadedblue */
  border-radius: 6px !important;
}

.react-datepicker__day--selected {
  background-color: #175cd3 !important; /* primary */
  color: white !important;
  font-weight: 600 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #e0eaff !important; /* lightcyan */
  color: #175cd3 !important; /* primary */
}

.react-datepicker__day--disabled {
  color: #d0d5dd !important; /* darkgray */
  cursor: not-allowed !important;
}

.react-datepicker__navigation {
  top: 16px !important;
}

/* Time Container */
.react-datepicker__time-container {
  border-left: 1px solid #f2f4f7 !important;
  width: 100px !important;
}

.react-datepicker__time-container .react-datepicker__time {
  background: white !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 100px !important;
}

/* Time List */
.react-datepicker__time-list {
  overflow-y: scroll !important;
}

.react-datepicker__time-list-item {
  color: #344054 !important; /* primary */
  padding: 8px !important;
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #eff8ff !important; /* fadedblue */
  color: #175cd3 !important; /* primary */
}

.react-datepicker__time-list-item--selected {
  background-color: #175cd3 !important; /* primary */
  color: white !important;
  font-weight: 600 !important;
}

/* Month and Year Dropdowns */
.react-datepicker__month-select,
.react-datepicker__year-select {
  border: 1px solid #d0d5dd !important;
  border-radius: 6px !important;
  padding: 4px 8px !important;
  color: #344054 !important; /* primary */
  font-weight: 500 !important;
  background-color: white !important;
}

.react-datepicker__month-select:focus,
.react-datepicker__year-select:focus {
  border-color: #175cd3 !important; /* primary */
  outline: none !important;
}

/* Custom scrollbar for time list */
.react-datepicker__time-list::-webkit-scrollbar,
.react-datepicker__year-select::-webkit-scrollbar {
  width: 4px !important;
}

.react-datepicker__time-list::-webkit-scrollbar-track,
.react-datepicker__year-select::-webkit-scrollbar {
  background: #f9fafb !important; /* grey */
}

.react-datepicker__time-list::-webkit-scrollbar-thumb,
.react-datepicker__year-select::-webkit-scrollbar {
  background: #d0d5dd !important; /* darkgray */
  border-radius: 4px !important;
}

/* Time header */
.react-datepicker__header--time {
  padding: 8px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: 500 !important;
  color: #344054 !important; /* primary */
}

.react-tel-input .form-control {
  border: none !important;
  width: 95% !important;
  padding: 0.1rem 14px 0.1rem 60px;
  border-radius: 0.75rem 0 0 0.75rem;
}

.react-tel-input .flag-dropdown {
  outline: none !important;
  left: 0;
  border-radius: 0.75rem 0 0 0.75rem;
  border: none;
  border-right: 1px solid #d0d5dd !important;
}

.react-tel-input .form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* 
.ql-toolbar {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #344054 !important;
}
.ql-editor,
.ql-blank {
  font-size: 16px;
  font-family: 'Inter', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--text-dark);
  letter-spacing: 1px;
  height: fit-content !important;
}
.ql-container {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  min-height: 160px !important;
} */

/* REACT QUILL STYLES */

/* TOOLBAR STYLES */
.ql-toolbar {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--border) !important;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.ql-toolbar .ql-formats {
  margin-right: 8px;
}

/* EDITOR STYLES */
.ql-editor,
.ql-blank {
  background-color: inherit !important;
  color: var(--text-primary) !important;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  height: fit-content !important;
}

.ql-editor.ql-blank::before {
  color: var(--text-placeholder);
  content: attr(data-placeholder);
  font-style: normal !important;
  /* font-weight: 500 !important; */
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

/* CONTAINER STYLES */
.ql-container.ql-snow {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  min-height: 160px !important;
  border: 1px solid var(--border) !important;
}

/* TOOLBAR BUTTON STYLES */

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--bg-primary) !important;
  background-color: var(--bg-primary-faded) !important;
  border-radius: 5px !important;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  stroke: var(--bg-primary) !important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--bg-primary) !important;
}

.ql-snow .ql-stroke {
  fill: none;
  stroke: var(--text-main) !important;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.ql-snow .ql-stroke-miter {
  fill: none;
  stroke: var(--text-main) !important;
  stroke-miterlimit: 10;
  stroke-width: 2;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: var(--text-main) !important;
}

.ql-snow .ql-picker {
  color: var(--text-main) !important;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  position: relative;
  vertical-align: middle;
}

.ql-snow .ql-picker-options {
  background-color: var(--bg-main) !important;
  border-radius: 5px !important;
  border: 1px solid var(--border) !important;
  margin-top: 5px !important;
  display: none;
  min-width: 100%;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
}

/* REACT PHONE INPUT 2 CUSTOM STYLES */

.react-tel-input .form-control {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.01rem;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 60px;
  margin-left: 0;
  color: var(--text-main) !important;
  background: var(--bg-main) !important;
  font-weight: 600 !important;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 300px;
  outline: none;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: var(--bg-main) !important;
  border-right: 1px solid var(--border-primary) !important;
}

.react-tel-input .flag-dropdown.open {
  z-index: 2;
  background: var(--bg-main) !important;
  border-radius: 0.75rem 0 0 0.75rem !important;
}

.react-tel-input .country-list {
  outline: none;
  z-index: 1;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 10px 0 10px -1px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.35);
  background-color: var(--bg-main) !important;
  width: 300px;
  max-height: 224px;
  overflow-y: scroll;
  border-radius: 0.75rem !important;
  border: 1px solid var(--border-primary) !important;
}

.react-tel-input .country-list .country:hover {
  background-color: var(--bg-hover) !important;
}
.react-tel-input .country-list .country.highlight {
  background-color: var(--bg-primary-faded) !important;
}

.react-tel-input .country-list .search {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: var(--bg-main) !important;
  padding: 10px 0 6px 10px;
}

.react-tel-input .country-list .country .dial-code {
  color: var(--text-placeholder) !important;
}

.react-tel-input .selected-flag:focus:before,
.react-tel-input .selected-flag.open:before {
  box-shadow: none !important;
  border: 1px solid var(--border-secondary) !important;
  border-radius: 0.75rem 0 0 0.75rem !important;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.react-tel-input .selected-flag:before {
  display: block;
  position: absolute;
  top: 0 !important;
  bottom: 0 !important;
  border-radius: 0.75rem 0 0 0.75rem !important;
}
